<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Listado de Solicitudes</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
            <li class="breadcrumb-item active">Solicitudes</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <a routerLink="../add" class="btn btn-primary">Agregar Solicitud</a>
              </h4>
            </div>
            <div class="card-body">
              <table class="table table-striped" style="text-align: center">
                <thead>
                  <tr>
                    <th>Nro. Solicitud</th>
                    <th>Dependencia</th>
                    <th>Fecha</th>
                    <th>Observaciones</th>
                    <th>Estado</th>
                    <th style="width: 350px;">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>00001/2022</td>
                    <td>DGTIC</td>
                    <td>26/09/2022</td>
                    <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed deserunt, eaque molestiae suscipit
                      et inventore dolor vel ullam laudantium. Unde atque quae est fuga sequi maxime corporis culpa ipsa
                      ex?</td>
                    <td><span class="badge bg-info">GENERADO</span></td>
                    <td>
                      <a routerLink="/solicitud_detalle/list/1" class="btn btn-primary acciones">
                        Detalles de la Solicitud
                      </a>
                      <a class="btn btn-warning acciones" routerLink="../edit/1">
                        <i class="fa fa-edit"></i>
                      </a>
                      <a class="btn btn-danger acciones" (click)="eliminar()">
                        <i class="fa fa-trash"></i>
                      </a>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer">

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>